body{background:#f0d5e6}

h1{color:whitesmoke; background:#f0d5e6; text-align: center;}
h2{text-align: center;}
h3{text-align: center;}
p{color:#f0d5e6;background:whitesmoke; padding: 10px;px;text-align:center;}